@{// dentro desse bloco posso colocar o codigo c# que eu quiser.
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Desenvolvedora : @ViewData["desenvolvedora"]</p>

<address>
    <strong>
        More information: <a href="https://github.com/jessicaklier/Vendas-Web">Github.com</a>
    </strong>
</address>